VITE_PARENT_APP_URL=#
VITE_CAREGIVER_APP_URL=#
VITE_COORDINATOR_PORTAL_URL=http://localhost:5173
VITE_PLAY_STORE_PARENT=#
VITE_PLAY_STORE_CAREGIVER=#
VITE_APP_STORE_PARENT=#
VITE_APP_STORE_CAREGIVER=#
